<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="f" fileName="C:/ProgramData/LionsSoft/ProcessAsService_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="e" fileName="C:/ProgramData/LionsSoft/ProcessAsService_${shortdate}_Errors.log"
            layout="${longdate} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Error" writeTo="e" />
  </rules>
</nlog>